.categoryList {
	display: flex;
	justify-content: start;
	align-items: center;
	overflow-x: scroll;
	padding: var(--padding);
	margin: 0;
	gap: var(--gap);
	cursor: grab;
}

.start {
	text-align: center;
	text-shadow: 2px 2px 2px var(--yellow-color);
}

.categoryList::-webkit-scrollbar {
	display: none;
}
.addCategoryContainer {
	max-width: 500px;
	display: flex;
	justify-content: space-between;
	margin: var(--margin);
}
.addCategory {
	background-color: var(--yellow-color);
	padding: var(--padding);
	color: black;
	font-size: 1rem;
	border-end-end-radius: 20px;
}

.input {
	flex: 1;
	padding: var(--padding);
	border: none;
	outline: none;
	background-color: transparent;
	overflow-x: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	color: var(--text-color);
	font-size: 1rem;
}
