.category {
	flex: 1 0 250px;
	min-height: 200px;
	padding: calc(var(--padding) + 10px);
	border-radius: 20px;
	text-transform: capitalize;
	text-align: center;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	color: white;
}
