.categoryList {
	display: flex;
	justify-content: start;
	align-items: center;
	overflow-x: scroll;
	padding: var(--padding);
	margin: 0;
	gap: var(--gap);
	cursor: grab;
}

.categoryList::-webkit-scrollbar {
	display: none;
}
