.header {
	height: 4rem;
	display: flex;
	padding: 4px 20px;
	margin-bottom: var(--margin);
	justify-content: space-between;
	align-items: center;
	background-color: var(--main-bg-color);
	box-shadow: var(--box-shadow);
}
.logo {
	display: flex;
	flex: 1;
	align-items: center;
}
.img {
	width: 2rem;
	height: 2rem;
	padding: 4px;
	background-color: white;
	margin-right: var(--margin);
	border-radius: 50px;
	box-shadow: var(--box-shadow);
}

.img > img {
	object-fit: cover;
	object-position: center;
}

.logo > h1 {
	font-size: 1.3rem;
	user-select: none;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
}

.themeMode,
.profile {
	width: 3rem;
	height: 3rem;
	border-radius: 50px;
	overflow: hidden;
	cursor: pointer;
	background-color: transparent;
}
.profile > img {
	width: 3rem;
	object-fit: cover;
	object-position: center;
}
