.wrapper {
	flex: 20%;
	display: flex;
	align-items: center;
}

.todo {
	position: relative;
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--gap);
	min-height: 80px;
	padding: var(--padding);
	box-shadow: var(--box-shadow);
	background-color: var(--main-bg-color);
	z-index: 9;
}

.titleWrapper {
	display: flex;
	flex: 4;
	gap: 6px;
	align-self: flex-start;
}
.title {
	width: 150px;
	border: none;
	outline: none;
	background: transparent;
	color: inherit;
	font: inherit;
	padding-bottom: 4px;
	border-bottom: 1px solid var(--text-color);
	word-break: normal;
}

.status {
	position: relative;
	flex: 1;
	align-self: flex-end;
	background-color: transparent;
	color: white;
	border-radius: 20px;
	padding: 4px 10px;
	text-shadow: 1px 1px 8px black;
	cursor: pointer;
}

.status::before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	top: -8px;
	left: -8px;
	background-color: inherit;
	border-radius: 50px;
	z-index: -1;
}

.trash {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #c01616;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	border: 1px solid #c01616;
	box-shadow: var(--box-shadow);
	padding: var(--padding);
	margin-left: -20px;
	cursor: pointer;
}

.timestamp {
	position: absolute;
	left: var(--padding);
	bottom: var(--padding);
	color: var(--text-color);
	text-shadow: 1px 1px 4px var(--yellow-color);
}

@media screen and (max-width: 480px) {
	.wrapper {
		flex: 100%;
	}

	.todo {
		flex-direction: column;
	}
}
