@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-bg-color: #eeeee3;
	--gray-color: #3a4750;
	--yellow-color: #f6c90e;
	--text-color: #252c3e;
	--margin: 10px;
	--padding: 10px;
	--gap: 10px;
	--box-shadow: 0 0 10px black;
}

body {
	font-family: 'Mochiy Pop P One', sans-serif;
	font-size: 16px;
}

button {
	display: block;
	color: inherit;
	font: inherit;
	line-height: normal;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2 {
	position: relative;
	color: var(--yellow-color);
	margin: var(--margin);
	text-shadow: 1px 1px 4px black;
}

h2::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: -4px;
	width: 30px;
	height: 2px;
	background-color: var(--text-color);
}

section {
	margin: var(--margin) 0;
}
